*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFE668;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    font-family: "poppins", sans-serif;
}
.createroom{
    margin: auto;
    width: 50vw;
    
    padding: 20px;
    border-radius: 10px;
    background-color: #feffc6;
    box-shadow: 4px 4px 0 #000;
}
.createroom h1{
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    font-family: "quicksand", sans-serif;
}
.rc{
    font-size: 25px;
    font-weight: bold;
}
.pl{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.lobby{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.player{
    width: 80%;
    height: 80px;
    background-color: #7B4019;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: large;
    color: white;
    box-shadow: 0 10px 25px  rgba(0, 0, 0, 0.2);
}
.avatar{
    width: auto;
    height: 60px;
    border-radius: 50%;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 70px;

}
button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.return{
    background-color: #2b7a78;
    color: white;
}
.startgame{
    background-color: #3aaf47;
    color: white;
}

.playername input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: large;
    margin: 10px 0;
    display: block;
}
.playername label{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}
.namebutton{
    background-color: #3aaf47;
    color: white;
    
}
.userinput{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}