*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
body{
    background-color: #FFE668;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    max-width: 100%;
    font-family: "poppins", sans-serif;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.gamescreen{
    margin: auto;
    width: 70vw;
    padding: 40px;
    border-radius: 10px;
    background-color: #feffc6;
    box-shadow: 4px 4px 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 100%;
    height: 70px;
    margin: 20px;
}
.quit{
    width: 60px;
    height: auto;
    margin: 0 20px;
    cursor: pointer;
}
.letter-timer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}
.letter-timer h1{
    font-weight: 300;
}
.letter-timer span{
    font-size: 30px;
    font-weight: 600;
    font-family: "quicksand", sans-serif;
}
.answer-sheet fieldset{
    border: none;
    margin: 20px 0;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.user-input{
    display: grid;
    grid-template-columns: 120px 1fr;
    width: 100%;
}
.answer-sheet input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 18px;
}
.submit{
    background-color: #3aaf47;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.submit:hover{
    background-color: #4fcf5c;
}
@media (max-width: 414px){
    .gamescreen{
       min-width : 95%;
        min-height: 90%;
       
    }
    .header{
        height: 50px;
    }
    .quit{
        width: 40px;
    }
    .letter-timer{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
        
    form{
        font-size: 1rem;
    }
    .letter-timer span{
        font-size: 1.5rem;
    }
    .letter-timer h1{
        font-size: 1.2rem;
    }
    .user-input{
        grid-template-columns: 80px 1fr;
    }
}
@media (max-width: 1024px) and (min-width: 415px){
    .gamescreen{
        min-width: 80%;
        min-height: 80%;
    }
}